#{
 #   auto_https off
#}

http://rpiai.local {
    redir https://rpiai.local{uri} permanent
}

http://192.168.1.1 {
    redir https://192.168.1.1{uri} permanent
}

http://192.168.1.2 {
    redir https://192.168.1.1{uri} permanent
}
:443 {

    tls /etc/caddy/certs/ip.pem /etc/caddy/certs/ip-key.pem

    handle /camera* {
        uri strip_prefix /camera
        reverse_proxy camera:1984
    }

    handle /jarvis/api* {
        uri strip_prefix /jarvis
        reverse_proxy samatha-ai:8080 {
            header_up Authorization "Bearer {env.SAMATHA_API_KEY}"
        }
    }

    handle /jarvis* {
        uri strip_prefix /jarvis
        reverse_proxy jarvis-ui:80
    }

    handle /monitor* {
        uri strip_prefix /monitor
        reverse_proxy rpi-monitor:61208
    }

    handle /readme* {
        uri strip_prefix /readme
        reverse_proxy repo-readme-ui:80
    }

    handle {
        reverse_proxy repo-readme-ui:80
    }

}

rpiai.local {

    tls /etc/caddy/certs/rpiai.local.pem /etc/caddy/certs/rpiai.local-key.pem

    handle /camera* {
        uri strip_prefix /camera
        reverse_proxy camera:1984
    }

    handle /jarvis/api* {
        uri strip_prefix /jarvis
        reverse_proxy samatha-ai:8080 {
            header_up Authorization "Bearer {env.SAMATHA_API_KEY}"
        }
    }

    handle /jarvis* {
        uri strip_prefix /jarvis
        reverse_proxy jarvis-ui:80
    }

    handle /monitor* {
        uri strip_prefix /monitor
        reverse_proxy rpi-monitor:61208
    }

    handle /readme* {
        uri strip_prefix /readme
        reverse_proxy repo-readme-ui:80
    }

    # Alles overig naar Open WebUI
    handle {
        reverse_proxy samatha-ai:8080
    }
}
