{
    auto_https off
}

:443 {

    tls /etc/caddy/certs/ip.pem /etc/caddy/certs/ip-key.pem

    handle /monitor* {
        uri strip_prefix /monitor
        reverse_proxy rpi-monitor:61208
    }

    handle /readme* {
        uri strip_prefix /readme
        reverse_proxy repo-readme-ui:80
    }

    handle /jarvis* {
        uri strip_prefix /jarvis
        reverse_proxy jarvis-ui:80
    }

    handle /action-hub* {
        uri strip_prefix /action-hub
        reverse_proxy action-hub:3002
    }

    handle {
        reverse_proxy repo-readme-ui:80
    }
}


rpiai.local {

    tls /etc/caddy/certs/rpiai.local.pem /etc/caddy/certs/rpiai.local-key.pem

    handle /monitor* {
        uri strip_prefix /monitor
        reverse_proxy rpi-monitor:61208
    }

    handle /readme* {
        uri strip_prefix /readme
        reverse_proxy repo-readme-ui:80
    }

    handle /jarvis* {
        uri strip_prefix /jarvis
        reverse_proxy jarvis-ui:80
    }

    handle /action-hub* {
        uri strip_prefix /action-hub
        reverse_proxy action-hub:3002
    }

    # Alles overig naar Open WebUI
    handle {
        reverse_proxy samatha-ai:8080
    }
}

